# --- General ---
.DS_Store
.vscode/
.idea/
*.log


# --- Client ---
client/node_modules/
client/dist/
client/dist-ssr/
client/.env
client/*.local
client/docs/

# --- Server ---
server/node_modules/
server/.env
server/*.local